<ul class="navbar-nav ml-auto">
    <li class="nav-item"><a class="nav-link" href="@Context.GetLink("/")">Home</a></li>
    @foreach(IDocument doc in OutputPages.GetChildrenOf("index.html").Where(x => x.GetBool("ShowInNavbar", true)).OrderBy(x => x.GetInt(Keys.Order,1000)))
    {
        <li class="nav-item">
            @Html.DocumentLink(doc, new Dictionary<object, object> { { "class", "nav-link" } })
        </li>
    }
</ul>
