ArchiveSources: "drafts/"
ShowInNavBar: false
---
@foreach(IDocument post in Document.GetChildren())
{
    <div class="post-preview">
        <h3 class="post-title">@Html.DocumentLink(post)</h3>
        @if(post.ContainsKey("Lead"))
        {
            <div class="post-subtitle">@post.GetString("Lead")</div>
        }
        <p class="post-meta">Published on @post.GetDateTime(WebKeys.Published).ToLongDateString()</p>
    </div>
}