Order: 0
ArchiveSources: => GetString("PostSources")
ArchiveDestination: >
  => GetInt("Index") <= 1 ? $"index.html" : $"page/{GetInt("Index")}.html"
ArchivePageSize: 10
ArchiveOrderKey: Published
ArchiveOrderDescending: true
ArchiveTitle: => GetString("Title")
---
@section Header {
    <header class="masthead" style="background-image: url(/images/park-in-zagreb.jpg)">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <div class="site-heading">
            <h2>Charlie Poole</h2>
            <hr class="small"/>
            <span class="subheading">
                Welcome to my new website, which will include both personal and
                software-related posts going forward. I'm gradually moving pages here -
                see the <a href="/status.html">Site Status</a> page for details.
            </span>
            </div>
        </div>
        </div>
    </div>
    </header>
}

<div class="container-sm-height">
    <div class="row row-sm-height">
        <div class="col-md-9 right-border col-sm-height">
            @Html.Partial("/_posts.cshtml", Document)
        </div>
        <div class="col-md-3 mt-4 mt-md-0 col-sm-height">
            @Html.Partial("/_sidebar.cshtml", Document)
        </div>
    </div>
</div>