Title: Technical Posts
Order: 3
Image: /images/charlie-and-ward.jpg
ArchiveSources: technical/*
ArchiveDestination: "technical.html"
ArchiveOrderKey: LastUpdate
ArchiveOrderDescending: true
ArchiveTitle: Technical Posts
IsPost: false
---
<div class="container-sm-height">
    <div class="row row-sm-height">
        <div class="col-md-9 right-border col-sm-height">
            @Html.Partial("/_posts.cshtml", Document)
        </div>
        <div class="col-md-3 mt-4 mt-md-0 col-sm-height">
            @Html.Partial("/_sidebar.cshtml", Document)
        </div>
    </div>
</div>