Title: Family History
Image: /images/thepoolesofrichmondhill_898x258.jpg
Order: 5
ArchiveSources: family-history/*
ArchiveDestination: "family-history.html"
ArchiveOrderKey: Published
ArchiveOrderDescending: true
ArchiveTitle: Family History
ShowInNavbar: false
IsPost: false
---
<div class="container-sm-height">
    <div class="row row-sm-height">
        <div class="col-md-9 right-border col-sm-height">
            @Html.Partial("/_posts.cshtml", Document)
        </div>
        <div class="col-md-3 mt-4 mt-md-0 col-sm-height">
            @Html.Partial("/_sidebar.cshtml", Document)
        </div>
    </div>
</div>