Title: Personal Blog
Image: /images/thanksgiving-2009.jpg
Order: 4
ArchiveSources: personal/*
ArchiveOrderKey: LastUpdate
ArchiveOrderDescending: true
ShowInNavbar: False
IsPost: false
---
<div class="container-sm-height">
    <div class="row row-sm-height">
        <div class="col-md-9 right-border col-sm-height">
            @Html.Partial("/_posts.cshtml", Document)
        </div>
        <div class="col-md-3 mt-4 mt-md-0 col-sm-height">
            <div class="mt-4">
                <h5>Family</h5>
                <a class="badge badge-light" href="/genealogy/people/">All Members...</a>
            </div>
            @Html.Partial("/_sidebar.cshtml", Document)
        </div>
    </div>
</div>