/* Global overrides */
body {
  background-color: #e6f2ff;
}

/* Overrides for the masthead */
header.masthead .page-heading a,
header.masthead .site-heading a {
  color: white;
}

header.masthead .post-heading {
  padding: 60px 0 0;
}

header.masthead .page-heading {
  padding: 60px 0;
}

#content {
  margin: -40px 0 20px;
  padding: 10px 20px;
  background-color: #fff;
  border: 1px black solid;
}

#content hr {
  border: 1px solid black;
}

#content div.comment {
  margin: 20px 0;
  border-top: 1px black solid;
  border-bottom: 1px black solid;
}

div.family-member {
    min-width: 200px;
    max-width: 300px;
    min-height: 150px;
    max-height: 200px;
    margin: 10px;
    padding: 10px;
    float: left;
    border: 2px solid black;
}

#mainNav .navbar-brand {
  padding: 10px 20px 10px 0;
}

div.pic { 
  /*margin: 0 auto 2em auto;*/
  padding: 0;
  float: left;
  width: 100%; 
}

div.pic hr {
  display: none;
}

div.pic img {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: 0 auto 2em;
}

img.left {
  float: left;
  margin: 0 1em 2em 0;
}

img.right {
  float: right;
  margin: 0 0 2em 1em;
}

@media screen and (min-width: 601px) {
  div.pic hr {
    display: block;
  }

  div.odd img, div.left img {
      float: left;
      margin: 0 1em 2em 0;
  }

  div.even img, div.right img {
      float: right;
      margin: 0 0 2em 1em;
  }
}

/* Default table display in content */
#content table {
  margin: 1em auto;
}

#content th,
#content td {
  padding: 10px;
  border: 1px solid black;
}

#content th {
  background-color: #ccc
}

#content td {
  background-color: #eee
}

.post-preview .post-title {
  clear: both;
}

.post-preview img {
  width: 160px;
  height: auto;
}

hr.small {
  max-width: 200px;
  margin: 15px auto;
  border-width: 2px;
  border-color: white;
}

/* Override code coloring in prism.css */
code {
  color: navy;
}

.token.keyword {
	color: blue;
}

.token.function,
.token.class-name {
  color: #2b91af;
}
