Title: Family Photos
Order: 4
Image: /images/thanksgiving-2009.jpg
ArchiveSources: family-photos/*
ArchiveDestination: "family-photos.html"
ArchiveOrderKey: Published
ArchiveOrderDescending: true
ArchiveTitle: Family Photos
ShowInNavbar: false
IsPost: false
---
<div class="container-sm-height">
    <div class="row row-sm-height">
        <div class="col-md-6 right-border col-sm-height">
            @Html.Partial("/_posts.cshtml", Document)
        </div>
        <div class="col-md-4 mt-4 mt-md-0 col-sm-height">
            @Html.Partial("/_sidebar.cshtml", Document)
        </div>
    </div>
</div>